@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-black: #333333;
  --color-grey-100: #fafafa;
  --color-grey-400: #d9d9d9;
  --color-primary-100: #f9f9fb;
  --color-primary-400: #007bff;
  --color-primary-600: #0064cf;
  --font-pacifico: "Pacifico", cursive;
  --font-primary: "Roboto", sans-serif;
  --font-secondary: "Poppins", sans-serif;
}

body {
  @apply font-primary text-black;
}

img {
  @apply max-w-full object-cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-secondary;
}

input,
.input {
  @apply w-full outline-none border py-2 focus:border-primary-400 indent-2 rounded-lg border-grey-400;
}

button,
.button {
  @apply text-white w-full inline-block transition-all disabled:opacity-50 bg-primary-400 tracking-wide not-disabled:hover:bg-primary-600 py-2.5 not-disabled:cursor-pointer font-semibold rounded-lg;
}

@layer utilities {
  .container {
    width: 100%;
    max-width: 1440px;
    margin-inline: auto;
  }
  .loader {
    width: 50px;
    padding: 8px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: var(--color-primary-600);
    --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
    mask: var(--_m);
    -webkit-mask-composite: source-out;
    mask-composite: subtract;
    animation: l3 1s infinite linear;
  }
  @keyframes l3 {
    to {
      transform: rotate(1turn);
    }
  }
}
